/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-white: #FFFFFF;
    --color-orange: #FF7347;
    --color-bg1: #1E1E1E;
    --color-bg2: #161616;
    --color-gray: #262626;
    --color-border: #FFFFFF07;
}